# Version Control
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Virtual Environment
.venv/
venv/
ENV/
env/

# Environment Variables
.env

# Editor
.vscode/
.idea/
*.swp

# Documentation & artifacts
*.md
documents/
